body{
    background-color: rgb(196, 247, 229);
}


.recipe-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    max-width: 300px;
    padding: 32px;
    padding-top: 128px;
}
.image-food {
    height: 300px;
    width: 300px;
    border-radius:10%;
    object-fit: cover;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    align-items: baseline;
}
.start-cooking{
    border-radius: 16px;
    background-color: #141445;
    color:aliceblue;
    padding: 16px 32px;
    font-weight: 800;
}
.start-cooking:hover{
    background-color: aliceblue;
    color: #141445;
    
}
